
<div class="header">
    <div class="shopName">
        <h2><a href="#" routerLink="/">Tripmap</a></h2>
    </div>
    <div class="header1">
        <ul class="list">
            <li><a  routerLink="/" [queryParams]="{ tag: 'Du lịch trải nghiệm' }">Du lịch trải nghiệm</a></li>
            <li><a  routerLink="/" [queryParams]="{ tag: 'Công viên giải trí' }">Công viên giải trí</a></li>
            <li><a  routerLink="/" [queryParams]="{ tag: 'Du lịch biển đảo' }">Du lịch biển đảo</a></li>
            <li><a  routerLink="/" [queryParams]="{ tag: 'Du lịch nghỉ dưỡng' }">Du lịch nghỉ dưỡng</a></li>
            <li><a  routerLink="/" [queryParams]="{ tag: 'Du lịch tâm linh' }">Du lịch tâm linh</a></li>
            <li class="dropdown">
                <a href="#">Điểm đến</a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/" [queryParams]="{ origin: 'Quảng Ninh' }">Quảng Ninh</a></li>
                  <li><a routerLink="/" [queryParams]="{ origin: 'Nha Trang' }">Nha Trang</a></li>
                  <li><a routerLink="/" [queryParams]="{ origin: 'Hội An' }">Hội An</a></li>
                  <li><a routerLink="/" [queryParams]="{ origin: 'Đà Nẵng' }">Đà Nẵng</a></li>
                </ul>
            </li>
            
        </ul>
    </div>
    <div class="left">
        <div class="searchbox">
            <input type="text" placeholder="Nhập từ khóa..." [(ngModel)]="searchTerm">
            <button class="search-button" (click)="search()">Tìm kiếm</button>
        </div>
        <div class="menu-container">
            <a routerLink="/dashboard">Tuấn</a>
            <div class="menu"> 
                <a routerLink="/profile">Hồ Sơ</a>
                <a routerLink="/transation">Lịch sử giao dịch</a>
                <a (click)="logout()">Đăng Xuất</a>
            </div>  
        </div>
        <div class="icon">
            <a routerLink="/favorite-page" class="favorite-icon">
                <mat-icon>favorite</mat-icon>
                <span class="favorite-count" *ngIf="favoriteCount ">{{favoriteCount}}</span>
            </a>
        </div>
    </div>
</div>