
<div class="header">
    <div class="shopName">
        <h2><a href="#" routerLink="/">Tripmap</a></h2>
    </div>
    <div class="header1">
        <ul class="list">
            <li><a href="#" routerLink="/">Du lịch trải nghiệm</a></li>
            <li><a href="#" routerLink="/">Công viên giải trí</a></li>
            <li><a href="#" routerLink="/">Du lịch biển đảo</a></li>
            <li><a href="#" routerLink="/">Du lịch nghỉ dưỡng</a></li>
            <li><a href="#" routerLink="/">Du lịch tâm linh</a></li>
            <li><a href="#" routerLink="/">Điểm đến</a></li>
        </ul>
    </div>
    <div class="left">
        <div class="searchbox">
            <input type="text" placeholder="Nhập từ khóa..." [(ngModel)]="searchTerm">
            <button class="search-button" (click)="search()">Tìm kiếm</button>
        </div>
        <div class="menu-container">
            <a routerLink="/dashboard">Tuấn</a>
            <div class="menu"> 
                <a routerLink="/profile">Hồ Sơ</a>
                <a routerLink="/profile">Lịch sử giao dịch</a>
                <a routerLink="/account/login">Đăng Xuất</a>
            </div>  
        </div>
        <div class="signup">
            <button >Đăng Nhập</button>
        </div>
        <div class="icon">
            <a routerLink="/favorite" class="favorite-icon">
                <mat-icon>favorite</mat-icon>
                <span class="favorite-count">3</span>
            </a>
        </div>
    </div>
</div>