<form [formGroup]="loginForm"  (submit)="login()" autocomplete="new -password">
    <h1>Đăng nhập</h1>

    <div class="form-control">
        <label for="email">Email</label>
        <input 
            formControlName="email"           
            id="email" 
            autocomplete="new-password" 
            type="email">
            <div class="error-message" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                <p *ngIf="loginForm.get('email')?.errors?.['required']">Email không được để trống!</p>
                <p *ngIf="loginForm.get('email')?.errors?.['email']">Email không hợp lệ!</p>
            </div>
    </div>
    <div class="form-control">
        <label for="password">Mật khẩu</label>
        <input
             formControlName="password"
             id="password" 
             autocomplete="new-password" 
             type="password">
             <div class="error-message" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <p *ngIf="loginForm.get('password')?.errors?.['required']">Mật khẩu không được để trống!</p>
            </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid"> Đăng nhập</button>
    <div>
        <p><a routerLink="/account/register">Đăng ký</a></p>
        <p><a routerLink="">Quên mật khẩu?</a></p>
    </div>
    
</form>
