<div class="container">
    <img [src]="trip.imageUrl" [alt]="trip.name">

    <div class="detail">
        <div class="header">
            <span class="name">
                {{ trip.name }}
            </span>
            <span class="favorite {{trip.favorite?'':'not'}}">
                <mat-icon color="red">favorite</mat-icon>
            </span>
        </div>
        <div class="star-rating">
            <star-rating 
            [stars]="trip.stars">
            </star-rating>
        </div>
        <div class="origins">
            <span *ngFor="let origin of trip.origins">
                {{ origin }}
            </span>
        </div>
    </div>
</div>
