<app-title title="Favorite Page" margin="1.5rem 0 0 2.5rem"></app-title>
<not-found 
    [visible]="!favorite || !favorite.items.length"
    notFoundMessage="Không có chuyến đi nào trong danh sách yêu thích"
    resetLinkText="Quay lại trang chính">
</not-found>
<div *ngIf="favorite && favorite.items.length" class="container">
<ul>
    <li *ngFor="let favorite of favorite.items">
        <div>
            <img [src]="favorite.trip.imageUrl" [alt]="favorite.trip.name">
        </div>
        <div>
            <a routerLink = "/favorite/{{favorite.trip.id}}">
                {{favorite.trip.name}}
            </a>
        </div>
        <div>
            {{favorite.trip.price | currency:'VND'}}
        </div>
        <div>
            <button class="remove-button" (click)="removeFromFavorite(favorite)">
                Xóa khỏi yêu thích
            </button>
        </div>
    </li>
</ul>
    
</div>