<div class="container" *ngIf="trip">
    <!-- Hình ảnh chính -->
    <img [src]="trip.processedImg" [alt]="trip.name" class="hero-image">

    <!-- Thông tin chi tiết -->
    <div class="detail">
        <h1 class="title">{{ trip.name }}</h1>
        <div class="location">{{ trip.origin }}</div>
        <div class="tag">{{ trip.tag }}</div>
        <div class="price">₫{{ trip.price | number }}</div>
        <button class="favorite-btn " *ngIf="!isFavorite" (click)="addToFavorite()">Thêm vào yêu thích</button>

        <!-- Mô tả -->
        <div class="description">
            {{ trip.information }}
        </div>

        <!-- Lịch trình -->
        <div class="schedule-section">
            <h2 class="section-title">LỊCH TRÌNH</h2>
            <div class="schedule-list" *ngIf="trip.schedule?.length; else noSchedule">
                <h3 class="section-title">Chi tiết lịch trình</h3>
                <div class="schedule-item" *ngFor="let item of trip.schedule">
                    <div class="schedule-time"><b>{{ item.from }} - {{ item.to }}</b></div>
                    <div class="schedule-activity">{{ item.activity }}</div>
                </div>
            </div>
            <ng-template #noSchedule>
                <p>Không có lịch trình chi tiết.</p>
            </ng-template>
        </div>

        <!-- Danh sách combo -->
        <div class="ticket-combo" *ngFor="let combo of trip.combos">
            <div class="combo-header">
                <h3>{{ combo.name }}</h3>
                <div class="combo-price">₫{{ combo.price | number }}</div>
            </div>

            <!-- Tính năng combo -->
            <ul class="combo-features">
                <li *ngFor="let desc of combo.description.split(',')">{{ desc }}</li>
            </ul>

            <!-- Nút chọn vé -->
            <button class="book-btn" *ngIf="combo.options?.length" (click)="goToComboOption(combo,combo.options[0])">
                Chọn vé
            </button>
        </div>

        <!-- Nếu không có combo -->
        <div *ngIf="!trip.combos?.length" class="no-combos">
            <p>Không có combo nào khả dụng.</p>
        </div>
    </div>
</div>